
<h1 class="titulo">Orange Banck</h1>
<div class="imagem-container">
  <link rel="stylesheet" href="principal.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <button class="sair-button" (click)="sair()">Sair</button>
</div>

<div class="container">
  <p-card>
    <div class="grid">
      <div class="col-12 p-fluid">
        {{nome}}
      </div>
      <div class="col-6 p-fluid">
        CPF:{{cpf}}
      </div>

    </div>
  </p-card>
  <p></p>
  <p-card>
    <div class="col-8 p-fluid">
      <h1 [ngClass]="{'positivo': saldo >= 0, 'negativo': saldo < 0}"> {{saldo | currency:'BRL':'symbol':'1.2-2'}}
      </h1>
    </div>

  </p-card>
</div>